---
---

* {
	--hr-border: 0.125em groove #808080;
	--color-bounds: #522d1e;
	--color-text: black;
	--color-link: blue;
	--color-visited: purple;
	--color-active: red;
}

body {
	padding: 0;
	margin: 0;
	background: var(--color-bounds);
	color: var(--color-text);
	font-size: 16px;
	min-width: 20em;
}

/* Standard link colors */
a, .nolink {
	text-decoration: underline;
	color: var(--color-link);
	&:visited {
		color: var(--color-visited);
	}
	&:active {
		color: var(--color-active);
	}
}

p {
	margin: 1em auto;
}

/* Create a div that centers/scales page content */
.page {
	box-sizing: border-box;
	background: url(../art/parchment.jpg);
	margin: auto;
	padding: 0 0.5em;
	max-width: 1008px;
	min-height: 100vh;
	> * {
		margin: auto;
	}
}


/* Style the top nav like a single row table with HRs above and below */
.topnav {
	padding: 1.625em 0;

	ul {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1em;
		margin: 0;
		padding: 0.75em 0;
		border-top: var(--hr-border);
		border-bottom: var(--hr-border);
	}
	li {
	}
}

.endlegal {
	border-top: var(--hr-border);
	margin: 3em auto 0;
	padding: 1em 0;
	max-width: 44em;
	text-align: center;

	p {
		font-size: 0.75em;
		max-width: 100%;
	}
}

main {
	margin: auto;
}

.pagetitle {
	padding: 1em 0;

	img, h2 {
		display: block;
		margin: auto;
	}
	img {
		max-width: calc(100% - 2em);
		height: auto;
	}
	h2 {
		font-weight: bold;
		font-size: 2em;
		text-align: center;
	}
}

/* Styles specific to index.html */
#index-page {
	a, .nolink {
		--color-text: var(--color-text);
		--color-link: var(--color-text);
		--color-visited: var(--color-text);
	}

	background: url(../art/ruledparchment.jpg);

}

/* godawful table border */
.tborder {
	margin: 2em auto;
	max-width: 100%;
	border: 1px outset var(--color-text);

	th, td {
		border: 1px inset var(--color-text);
	}
}

/* Styles specific to quests.html */
.quests {
	text-align: center;
	.winner, .heading {
		color: red;
		font-weight: bold;
	}
	.name a {
		font-weight: bold;
	}
	.size {
		white-space: nowrap;
	}
	.desc {
		text-align: left;
		font-style: italic;
	}
}

/* Styles specific to miniatures gallery */
.minis {
	ul {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 0.5em;
		list-style: none;
		margin: auto;
		padding: 0;
		max-width: 24em;
		font-size: 1.125em;
		font-weight: bold;
		text-align: center;
	}
	li {
		flex-shrink: 1;
		flex-grow: 1;
		flex-basis: 0;
		padding: 0.5em;
		a {
			white-space: nowrap;
		}
	}
}

@media (min-width: 600px) {
	.minis {
		ul {
			flex-direction: row;
		}
		li {
			flex-basis: 8em;
		}
	}
}
/* Styles specific to new.html */
.news {
	max-width: 38em;
	margin: 1.5em auto;
	& > article { margin: 1em auto; }

	& h3 {
		font-size: 1em;
		font-weight: bold;
		margin-block-end: 0;
	}
}

/* De-emphasize something that would otherwise be emphasized. Because ported from HTML4 */
.no-em {
	font-weight: normal;
}

em.just-red {
	font-weight: normal;
	font-style: normal;
	color: red;
}
