---
---

* {
	--hr-border: 0.125em groove #808080;
	--color-bounds: #522d1e;
	--color-text: black;
	--color-link: blue;
	--color-visited: purple;
	--color-active: red;
}

body {
	padding: 0;
	margin: 0;
	background: var(--color-bounds);
	color: var(--color-text);
}

/* Standard link colors */
a, .nolink {
	text-decoration: underline;
	color: var(--color-link);
	&:visited {
		color: var(--color-visited);
	}
	&:active {
		color: var(--color-active);
	}
}

p {
	margin: 1em auto;
	max-width: 38em;
}

/* Create a div that centers/scales page content */
.page {
	box-sizing: border-box;
	background: url(../art/parchment.jpg);
	margin: auto;
	padding: 0 0.5em;
	max-width: 1008px;
	min-height: 100vh;
	> * {
		margin: auto;
	}
}


/* Style the top nav like a single row table with HRs above and below */
.topnav {
	padding: 1.625em 0;

	ul {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		gap: 0.5em;
		margin: 0;
		padding: 0.75em 0;
		border-top: var(--hr-border);
		border-bottom: var(--hr-border);
	}
	li {
		flex: 1 0 auto;
	}
}

.endlegal {
	border-top: var(--hr-border);
	margin: 3em auto 0;
	padding: 1em 0;
	max-width: 44em;
	text-align: center;

	p {
		font-size: 0.75em;
		max-width: 100%;
	}
}

main {
	margin: auto;
}

.pagetitle img {
	display: block;
	margin: auto;
	padding: 1em 0;
}

/* Styles specific to index.html */
#index-page {
	a, .nolink {
		--color-text: var(--color-text);
		--color-link: var(--color-text);
		--color-visited: var(--color-text);
	}

	background: url(../art/ruledparchment.jpg);

}

/* godawful table border */
.tborder {
	margin: 2em auto;
	max-width: 100%;
	border: 1px outset var(--color-text);

	th, td {
		border: 1px inset var(--color-text);
	}
}

/* Styles specific to quests.html */
.quests thead {
	color: red;
	text-align: center;
}

/* Styles specific to new.html */
.news {
	max-width: 38em;
	margin: 1.5em auto;
	& > article { margin: 1em auto; }

	& h3 {
		font-size: 1em;
		font-weight: bold;
		margin-block-end: 0;
	}
}

/* De-emphasize something that would otherwise be emphasized. Because ported from HTML4 */
.no-em {
	font-weight: normal;
}

em.just-red {
	font-weight: normal;
	font-style: normal;
	color: red;
}
