body {
	padding: 0;
	margin: 0;
	background: #522d1e;
}
/* Styles specific to index.html */
.index-page {
	margin: auto;
	padding: 8px;
	max-width: 992px;
	background: url(../art/ruledparchment.jpg);
}
.index-page a {
	color: black;
}
.index-page a:visited {
	color: black;
}
