# This is the topmost .editorconfig file for this repo
root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space

[*.md]
trim_trailing_whitespace = false
max_line_width = 78
indent_size = 4

[*.{html,css,scss,php}]
indent_size = 4
