
DirectoryIndex index.html

RedirectMatch 301 /index.php /

ErrorDocument 400 http://www.yeoldeinn.com/error-400.php
ErrorDocument 401 http://www.yeoldeinn.com/error-401.php
ErrorDocument 403 http://www.yeoldeinn.com/error-403.php
ErrorDocument 404 http://www.yeoldeinn.com/error-404.php
ErrorDocument 500 http://www.yeoldeinn.com/error-500.php
